html, body { height: 100%; overflow: auto; max-height: 100%;}

body, body * {
    max-height: 1000000px;
}

body{
    margin: 0;
    padding: 0;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-image: url(../image/submit_background.jpg);
    background-repeat: no-repeat;
}

#submit_box
{
    margin: 0.5rem auto 0;
    padding: 0.105rem 0.292rem;
    background-color: #00000090;
    width: 3.08rem;
    height: 3.67rem;
    border-radius: 0.052rem;
    text-align: center;
}

#submit_box h1
{
    font-size: 0.2rem;
    color: white;
}

#submit_box .input_box
{
    margin-top: 0.26rem;
}

#submit_box .input_box .input_text
{
    margin-top: 0.104rem;
    display: -webkit-flex;
    display: flex;
    align-items:center;
    justify-content:center;
}

#submit_box .input_box .input_text .small_photo
{
    text-align: right;
    border: 0;
    padding: 0;
    font-size: 0.15rem;
    color: white;
}

#submit_box .input_box .input_text input
{
    border: 0;
    width: 1rem;
    font-size: 0.1rem;
    padding: 0.052rem 0.052rem;
    border-bottom: 0.0052rem solid white;
    background-color: #00000000;
    color: white;
}

#submit_box .input_box .input_button
{
    border: 0;
    width: 0.833rem;
    height: 0.255rem;
    color: white;
    font-size: 0.125rem;
    margin-top: 0.167rem;
    border-radius: 0.104rem;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}